/*start general properties for website*/
@font-face {
    font-family: "semiBold";
    src: url(../font/roboto/RobotoSlab-SemiBold.ttf);
  }
  
  @font-face {
    font-family: "regular";
    src: url(../font/roboto/Roboto-Regular.ttf);
  }
  
  @font-face {
    font-family: "bold";
    src: url(../font/roboto/Roboto-Bold.ttf)
  }
  
  * {
    margin: 0px;
    box-sizing: border-box;
  }
  
  .btn:focus,
  button:focus,
  input:focus,
  .form-control:focus {
    outline-width: 0px !important;
    outline-color: transparent !important;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  
  a {
    text-decoration: none !important;
  }
  .heading{
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
  }
  .heading .title{
    width: fit-content;
    margin: auto;
    padding: 10px 0px;
    margin-bottom: 20px;
    position: relative;
    color: #5D5D5D;
    font-family: 'bold';
    font-size: 42px;
  }
  .heading .title::after{
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 25%;
    background-color: #4085F6;
  }
  .heading .desc{
    color: #737373;
    font-size: 20px;
    font-family: 'regular';
    line-height: 2rem;
  }
  ul{
    list-style: none;
  }
  /*end gloabal*/
  .navbar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999 !important;
    background-color: #4085F6;
    padding: 20px 0px;
  }
  .navbar .navbar-brand img{
    width: 100px;
    height: 50px;
    object-fit: contain;
  }
  
  .navbar .navbar-collapse {
    justify-content: space-around;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0px 20px;
  
  }
  .navbar .navbar-nav .nav-item .nav-link{
    color: #fff;
    font-size: 20px !important;
    line-height: 42px !important;
    font-family: 'regular';
  }
  .navbar .btn{
    padding: 8px 25px;
    background-color: #fff;
    color: #4085F6;
    font-size: 25px;
    line-height: 38px;
    font-family: 'regular';
    border-radius: 38px;
  }
  .navbar .navbar-toggler-icon i 
  {
    color: #fff;
    font-size: 20px;
  }
  /*start header*/
  header{
    width: 100%;
    padding: 100px 0px;
    background-color: #fff;
    position: relative;
    z-index: 99;
    overflow: hidden;
  }
  header::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../image/header.png');
    background-size: cover;
    background-repeat: no-repeat;
    top: 0%;
    left: 0;
    background-position: center; 
    z-index: -1;
  }
  header .image-content{
    width: 100%;
    height: 900px;
    overflow: hidden;
  }
  header .image-content img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  header .header-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  header .header-content h4 {
    font-size: 46px;
    line-height: 62px;
    font-family: 'semibold';
    color: #fff;
  }
  header .header-content p {
    font-size: 15px;
    line-height: 2rem;
    color: #fff;
    margin: 20px 0px;
  }
  header .header-content .button-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  header .header-content .button-content  img{
    width: 230px;
    height: 81px;
    object-fit: contain;
    margin: 10px 10px;
  }
  
  /*start about app*/
  .about-app{
    width: 100%;
    padding: 50px 0x;
  }
  .about-app .box{
    width: 100%;
    padding: 20px 25px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0 , 0 , 0 , .1);
    transition: all .2s ease-in-out;
    position: relative;
    overflow: hidden;
    z-index: 9;
  }
  .about-app .box::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4085F6;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: all .2s ease-in-out;
  }
  .about-app .box .box-icon{
    width: 50px;
    height: 50px;
    background-color: #F3F5F8;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transform: rotate(45deg);
    margin: 0px auto 40px;
    transition: all .2s ease-in-out;
  }
  .about-app .box .box-icon  i{
    color: #4085F6;
    font-size: 20px;
    transform: rotate(-45deg);
  }
  .about-app .box .box-content{
    width: 100%;
    text-align: center;
  }
  .about-app .box .box-content h4 {
    color: #737373;
    font-size: 20px;
    font-family: 'bold';
    margin-bottom: 20px;
  }
  .about-app .box .box-content p {
    color: #808080;
    font-size: 14px;
    line-height: 2rem;
  }
  .about-app .box:hover {
    transform: translateY(-10px);
  }
  .about-app .box:hover::after{
    top: 0%;
  }
  .about-app .box:hover .box-icon{
    animation: bounce-in-fwd 1.1s both;
  }
  .about-app .box:hover .box-content h4 , 
  .about-app .box:hover .box-content p {
    color: #fff;
  }

  /*start feature */
.feature{
  width: 100%;
  position: relative;
  z-index: 9;
  }
   
 .feature .content h4{
    font-size: 36px;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'semibold';
    color: white;
    display: flex;
    justify-content: center;
  }
  .feature .content p{
    width: 75%;
    font-size: 20px;
    margin: 10px 0px 50px 150px;
    font-family: 'semibold';
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
.feature .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: row;
    object-fit: contain;
}
.feature .row .head-content{
    width: 100%;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
.feature .row .head-content{
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}
.feature .row .head-content a{
    margin-right: 30px;
}
.feature .row .head-content img{
    border: 2px solid #fff;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    size: 40px;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #fff;
    object-fit: contain;
}
.feature .row .head-content .header-content h4{
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-size: 40px;
}
.feature .row .head-content .header-content p{

    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'regular';

}
.feature::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../image/Shape.png);
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    z-index: -1;
}
/*start pricing*/
.price{
    width: 100%;
    padding-top: 100px;
    background-color: #F8F6F6;
}

.price .row .box-content{
  width: 100%;
  justify-content: space-between;
  align-items: center;
  align-content: center;

}
.price .row .box-content ul{
  width: 100%;
  padding: 40px 0px 0px 0px;
  position: relative;
  overflow: hidden;
  border: 3px solid #4085F6;
  border-radius: 20px;
  z-index: 9;
}

.price .row .box-content ul li{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.price .row .box-content ul::after{
  content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4085F6;
    top: -100%;
    left: 0;
    z-index: -1;
    transition: all .2s ease-in-out;
}
.price .row .box-content ul:hover{
  transform: translateY(-10px);
}
.price .row .box-content ul:hover::after{
  top: 0%;
}
.price .row .box-content ul:hover h4,
.price .row .box-content ul:hover li,
.price .row .box-content ul:hover .salary{
  color: #fff;
}
.price .row .box-content ul:hover .btn a{
  color: #4085F6;
}

.price .box-content h4{
    font-size: 36px;
    font-family: 'semi-bold';
    color: #484848;
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
.price  .box-content a{
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-family: 'semi-bold';
}
.price .box-content .btn{
  width: 50%;
  border: 3px solid ;
  border-radius: 40px;
  color: #4085F6;
  background-color: #fff;
  margin: 90px 60px 50px 100px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
/*start photos */
.photos .content .image-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 60px   ;
}
.photos .content .image-content img{
  width: 20%;
  margin-left: 10px;
}
/*start report*/
section.report{
  width: 100%;
  padding: 0px 0px 0px 0px;
}
.report .content{
  width: 100%;
  background-color: #4085F6;
  margin: 0px;
  padding:0px 0px 0px 0px;
}
.report .content .title{
  font-family: 'bold';
  font-size: 36px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.report .content .header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: row;
  margin: 50px 50px 50px 50px;
}
.report .content .header .box{
  width: 70%;
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.report .content .header .box .image-content{
  width: 50%;
  display: flex;
  justify-content: center;
  object-fit: contain;
  margin: 10px 50px 20px 70px ;
}
.report .content .header .box .head-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 10px 25px 10px 25px;
  line-height: 2.5rem;
  color: #fff;
}
.report .content .header .box .head-content h4{
  font-size: 36px;
  font-family: 'semi-bold';
}
.report .content .header .box .head-content h5{
  font-size: 20px;
  font-family: 'semi-bold';
}
.report .content .header .box .head-content p{
  font-size: 16px;
  font-family: 'regular';
  line-height: 2rem;
  word-wrap: break-word;
}
/*start form*/
.form .content{
  width: 100%;
  display: flex;
  justify-content: center;
}
.form .content .box{
  width: 50%;
  border: 2px solid rgba(0 , 0 , 0 , .1);
  box-shadow: rgba(0 , 0 , 0 , .1);
}
.form .content .box a{
  color: #484848;
}
.form .content .form-content{
  width: 100%;
  border: 2px solid rgba(0 , 0 , 0 , .1);
  display: flex;
  justify-content: flex-start;
  margin-right: 60px;
}
/*start copywrite*/
.copywrite{
  background-color: #000;
}
.copywrite h4{
  font-size: 16px;
  font-family: 'regular';
  color: rgba(255 , 255 , 255 , .1);
  margin: 10px 30px 10px 30px ;
}

  @keyframes bounce-in-fwd {
    0% {
      -webkit-transform: scale(0) rotate(45deg);
              transform: scale(0) rotate(45deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1) rotate(45deg);
              transform: scale(1) rotate(45deg);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(0.7) rotate(45deg);
              transform: scale(0.7) rotate(45deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1) rotate(45deg);
              transform: scale(1) rotate(45deg);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(0.84) rotate(45deg); 
              transform: scale(0.84) rotate(45deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1) rotate(45deg) ;
              transform: scale(1) rotate(45deg)  ;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(0.95) rotate(45deg);
              transform: scale(0.95) rotate(45deg);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1) rotate(45deg);
              transform: scale(1) rotate(45deg);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }